
* {
    box-sizing: border-box;
  }
  
  body {
    background-color: rgb(0, 12, 30);
    color: white;
    font-family: IBM Plex Mono , monospace;
  }
  
  a {
    color: unset;
    text-decoration: none;
  }
  
  h1, h2 {
    color: rgb(98, 219, 251);
    text-align: center;
  }
  
  h1 {
    font-family: 'Press Start 2P' , monospace;
    margin: 64px 0;
    transition: 0.2s;
  }
  
  h1:hover {
    color: rgb(207, 91, 177);
    cursor: pointer;
  }
  
  h2 {
    margin-bottom: 32px;
  }
  
  .planet-card {
    align-items: center;
    border: 1px solid transparent;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    padding: 0 12px;
    transition: 0.2s border;
  }
  
  .planet-card:hover {
    border: 1px solid rgb(207, 91, 177);
    border-radius: 8px;
    cursor: pointer;
  }
  
  .planet-card img {
    transition: 0.5s;
  }
  
  .planet-card:hover img {
    width: 200px;
  }
  
  .flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
  
  .solar-system-container {
    gap: 16px;
    margin-bottom: 80px;
  }
  
  .missions-container {
    gap: 16px;
    padding: 0 32px 32px;
  }
  
  .mission-card {
    border: 1px solid rgb(98, 219, 251);
    border-radius: 8px;
    cursor: default;
    flex: 1;
    min-width: fit-content;
    padding: 16px 32px;
    transition: 0.2s;
  }
  
  .mission-card:hover {
    border: 1px solid rgb(207, 91, 177);
    border-radius: 8px;
  }
  
  footer {
    margin-bottom: 32px;
    text-align: center;
  }